<footer class="page-footer deep-purple ">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">KHALIDIA PALACE HOTEL PROJECT</h5>
                <p class="grey-text text-lighten-4">Ventura Global </p> 
                <p class="grey-text text-lighten-4">P O Box 34086 | Dubai | UAE</p>
                <p class="grey-text text-lighten-4">L: +971 4 4216262 | F: +971 4 2767312 | M: +971 521027301</p> 
                <p class="grey-text text-lighten-4">technology . convergence . mobility</p>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.venturaglobal.co" target="_blank">www.venturaglobal.co</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            copyrights©Ventura global 2020 
        </div>
    </div>
</footer>