<h1>New message</h1>
<h3>Logged in User: - {{data.user.email}}</h3>
<form action="/message/createMessage" method="POST">
<input type="text" name="message" id="message_id">
<button type="submit">Submit</button>
</form>