.more-margin {
  margin-top: 1em;
}
.more-padding {
  padding-left: 1em;
}
body{
  margin: 0;
  padding: 0;
}
.sidebar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  height: 100%;
  
  }
  .sidebar-div {
  margin: 0% !important;
  padding: 0% !important;
  width: 100%;
  background-color: #f3e5f5;
  height: auto !important;;
  overflow: auto !important;
  
  }
  .navbar-li-a {
  display: block;
  width: 100%;
  color: #000;
  margin: 0;
  padding: 12px 20px;
  text-decoration: none;
  }
  .navbar-li-a:hover:not(.active) {
  background-color: rgb(8, 92, 202);
  color: white;
  }
  .active-li a{
  background-color: rgb(8, 92, 202);
  color: white;
  }
  .content{
      margin: 0;
      padding: 0;
      width:100%;

  }
